* {
    padding: 0;
    margin: 0;
}

.pt {
    padding-top: 5px;
}

nav {
    background: #E91E63;
}

nav ul {
    list-style-type: none;
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
}
.container {
    padding-top: 1rem;
}
.post {
    width: 40%;
    margin: 0 auto;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #d9d6d6   ;
    box-shadow: 1px 2px 3px 0px #e3e3e3;
}
